.campscard {
  display: flex;
  gap: 20px;
}
.usercard {
  width: 13.5rem;
  height: 8rem;
  border: none;
  border-radius: 12px;
  background-color:#E1F0DA;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px;
  align-items: center;
}

.usercardd{
  width: 13.5rem;
  height: 8rem;
  border: none;
  border-radius: 12px;
  background-color:#D4E7C5;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px;
  align-items: center;
}
.usercards {
  width: 13.5rem;
  height: 8rem;
  border: none;
  border-radius: 12px;
  background-color:#BFD8AF;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px;
  align-items: center;
}



.usercardds {
  width: 13.5rem;
  height: 8rem;
  border: none;
  border-radius: 12px;
  background-color:#99BC85;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px;
  align-items: center;
}

.icons {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #007F73;
}
.icon {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: rgb(64,196,99);
}
.iconn {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: white;
}
.iconns {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #416D19;
}
.chartsdash {
  display: flex;
  gap: 1px;
}

.camps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
  align-items: center;
}
.chart1 {
  /* width={370} */
  width: 10rem;
  height: 10rem;
  /* height={200} */
  margin: 2rem 2;
}
@media (max-width:768px) {
  .campscard {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.chartsdash {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
}
@media (max-width:480px) {
    .campscard {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
}
.chartsdash {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .areacharts{
} */
}