.layout {
  display: grid;
  grid-template-rows: 200px 1fr;
}
.outlets {
  margin-left: 132px;
}

.dashboard {
  display: grid;
  grid-template-columns: 190px 1fr;
  gap: 0;
}
@media (max-width:768px) {

.outlets {
  margin-left: 12px;
}
}
